// 558d8e - ffc15a
$theme-colors: (
    'primary': #00afb9,
    /*#fe9901,*/ 'secondary': #0081a7,
    'success': #1ce1ac,
    'info': #ff7d50,
    'warning': #ffbe0b,
    'danger': #ff007f,
    'light': #c0ccda,
    'dark': #001738
);
$enable-shadows: true;

$navbar-light-color:                rgba(0, 0, 0, .75);
$navbar-light-hover-color:          rgba(0, 0, 0, .9);
$navbar-light-active-color:         rgba(0, 0, 0, 1);

@import '~bootstrap/scss/bootstrap.scss';
